/* FONTS */
@font-face {
  /*NORMAL*/
  font-family: "Avenir";
  src: url('/assets/fonts/AvenirLTStd-Medium.otf');
  font-weight: normal;
}

@font-face {
  /*NORMAL ITALIC*/
  font-family: "Avenir";
  src: url('/assets/fonts/AvenirLTStd-MediumOblique.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  /*BOLD*/
  font-family: "Avenir";
  src: url('/assets/fonts/AvenirLTStd-Heavy.otf');
  font-weight: bold;
}

@font-face {
  /*LIGHT*/
  font-family: "Avenir";
  src: url('/assets/fonts/AvenirLTStd-Light.otf');
  font-weight: 200;
  font-style: light;
}

body { font-family: 'Avenir', Arial, sans-serif; background-color: #111111; color: #f4f4f4; }
h2, p { font-family: Avenir, Arial, sans-serif; }
#skill { color: #01e3ae; }
#tool { color: #03b8e2; }
#project { color: #5734d6; }
a { color: #e2d603; text-decoration-line: underline; }
a:hover { color: #e25203; text-decoration-line: underline; }
#divider { margin-top: 5vh; margin-bottom: 5vh; }
img { padding-top: 5vh; padding-bottom: 5vh; }
#hi { color: #f4f4f4; }
h1 span { font-family: Avenir, Arial, sans-serif; font-weight: bold; }
h2 { font-weight: 200; }