<div id="design">
  <nav class="nav navbar-inverse">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="#/"><img src="../assets/logo.png"></a>
      <li><a href="#resume">DEVELOPER</a></li>
      <li><a href="#photos">PHOTOGRAPHER</a></li>
      <li><a href="#design" data-toggle="active">DESIGNER</a></li>
    </ul>
  </nav>
  <div class="design-gallery container">
    <div id="item" ng-repeat="proj in designProj" class="col-md-4 col-sm-12">
      <a href="{{proj.clickthrough}}" target="_blank"><img src="{{proj.imageUrl}}"/></a>
      <h3>{{proj.title}}</h3>
      <p>{{proj.caption}}</p>
    </div>
  </div>
</div>

