<div class="resume container">
  {{message}}
    <div id="photo" class="col-md-4 col-sm-12">
    </div>
    <div id="creds" class="col-md-8 col-sm-12">
      <img id="thumb" src="assets/thumb.png"/>
      <div id="greeting">
        <h2>I'm Jer'Maine Jones, Jr.</h2>
        <h2>Currently a full-time Software Engineer.</h2>
        <div id="indent">
          <p>I know <span>C++</span>, but lately I've been working in the web with <span>HTML/CSS</span> (I like <span>LESS</span> a whole lot) and <span>JavaScript</span> (a little bit of <span>AngularJS</span>). I'm looking to strengthen my knowledge in these areas, expand to a more full-stack skillset and transition into <span>web development</span> proper.</p>
          <p>Besides that I know my way around <span>Photoshop</span>, <span>Illustrator</span> and <span>InDesign</span> pretty well.</p> 
          <p>If you were to ask me my dream job it'd probably be <span>TECH UNICORN</span>; I'm very much interested in code + design so a job where I can ultilize both skillsets is ideal.</p>
        </div>
      </div>
      <h3>Experience</h3>
        <div id="indent">
          <h4>L-3 Communications, Integrated Systems | Greenville, TX</h4>
          <h5><em>Software Engineer</em> JULY 2015-PRESENT</h5>
          <p>Supporting an ongoing “virtual reality” project, creating virtual tours month-to-month for aircraft customers detailing aircraft modification, viewed through the browser. Recently completed Flash => HTML5 workflow transition for user experience optimization; currently working on a proof of concept for a redesign of the Imagery Lab’s website built around AngularJS.</p>

          <h5><em>Software Engineer</em> JUNE 2012-JULY 2015</h5>
          <p>Developed and supported a software application, specializing in data transmission and communication/surveillance, built for the Windows operating system.</p>
          <h4>Ball Corporation | Broomfield, CO</h4>
          <h5><em>Summer Intern</em> MAY 2011-AUGUST 2011</h5>
          <p>Spent the summer creating a proof of concept for a mobile, collaborative, and communicative business intelligence application, integrating real-time KPIs and any-time drill downs for use on mobile and desktop environments.</p>

          <h4>Rome Air Force Research Laboratory | Rome, NY</h4>
          <h5><em>Summer Intern</em> MAY 2010-AUGUST 2010</h5>
          <p>Spent the summer working with computer scientists developing software to be used in Unmanned Air Vehicle flight test simulation, as well as compiled research for a new security and surveillance system for test sites in the area.</p>
      </div>
      <h3>Education</h3>
        <div id="indent">
          <h4>Jackson State University | Jackson, MS</h4>
          <h5>AUGUST 2008-APRIL 2012</h5>
          <p>Bachelor of Science, Computer Engineering; Minor: Art</p>
          <p>I can be found on <a href="https://www.linkedin.com/in/jer-maine-jones-12b94834" target="_blank"><span>LinkedIn</span></a>. And here's a PDF of my <a href="https://www.dropbox.com/s/vc1xd29aatlx87q/JermaineJonesResume.pdf?dl=0" target="_blank"><span>resume</span></a>. Thanks!</p>
      </div>
    </div>
  </div>