<!DOCTYPE html>
<html>
    {% include home-head.html %}
    <body>
      {{ content }}
      <nav aria-label="Page navigation" id="pagination" class="container">
        <ul class="pagination">
          {% if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path }}">&laquo;</a></li>
          {% endif %}
          <li>{{ paginator.page }} of {{ paginator.total_pages }}</li>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">&raquo;</a>
          {% endif %}
        </ul>
      </nav>
  </body>
  {% include footer.html %}
</html>