body{
  background-color: #082567;
  color: #f3f6fb;

  border: 10px solid #f3f6fb;
}

a{
  color: #01e3ae;
}

li{
  list-style: none;
}

h1{
  text-align: center;
}

@@media screen and (max-width=414px) {

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.25em;
}

p{
  font-size: 1em;
}

}
