@import (inline) url('bootstrap.min.css');
@import (inline) url('transitions.css');

body{
  background-color: #f3f6fb;
  color: #252525; 
  
  font-family: 'Roboto', sans-serif;
  
  h1{
    font-family: 'Biryani', sans-serif;
    font-weight: 900;
  }
  
  h2{
    font-weight: 700;
  }
  
  h3{
    font-weight: 500;
  }
    
}

#logo{
  width: 200px;
  display: block;
  margin: 20% auto;
}

#home{
  height: 96vh;
  background-color: #252525;
  
  a:link{
    color: #333333;
  }
  
  a:hover, a:active{
    color: #f3f6fb;
    text-decoration: none;
  }
  
  a:focus{
    text-decoration: none;
  }
  
  ul{
    text-align: right;
    list-style-type: none;
    
    position: absolute;
    bottom: 5%;
    right: 5%;
    
    li{
      padding: 0;
      margin: 5px auto;
    }
  }
  
  h1{
    font-size: 5em;
    margin: 0 auto;
    
    @media screen and (max-width: 768px){
      font-size: 1.75em;
    }
  }
}

footer{
  position: relative;
  background-color: #252525;
  color: #f3f6fb;
  margin: 0 auto;
  height: 4vh;
  text-align: center;
  
  p{
    
    margin: 0;
    
    a{
    color: #01e3ae;
  }
  
  a:hover, a:active{
    color: #f3f6fb;
    text-decoration: none;
  }
  
  a:focus{
    text-decoration: none;
  }
  }
}

//STYLING FOR RESUME TEMPLATE
.resume{
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  h2{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  #photo{
    height: 100%;
    padding-top: 20px;
    vertical-align: middle;
    img{
      display: block;
      width: 90%;
      margin: auto;
    }
    
    @media screen and (max-width: 768px){
      //make this go away on tablets/phones
      height: 0;
      visibility: hidden;
    }
  }
  
  #creds{
    height: 100%;
    padding: 0 30px;
    
    @media screen and (max-width: 768px){
      padding: 0 10px;
    }
    
    #thumb{
      width: 0;
      
      @media screen and (max-width: 768px){
        //make this appear on tablets/phones
        width: 150px;
        display: block;
        margin: 20px auto;
      }
    }
    
    #indent{
      margin: 0 20px;
      margin-bottom: 30px;
      
    }
    
    h4{
      padding-top: 10px;
    }
    
    
  }
  
  span{
    //special highlighting for keywords
    padding: 1px;
    background: #252525;
    color: #01e3ae;
  }
  
  span:hover{
    color: #f3f6fb;
  }
  
}

//STYLES FOR PHOTO GALLERY
.photos{
  margin: 0;
  padding: 0;
  width: 100%;
  
  h2{
    font-weight: 300;
    display: block;
    text-align: center;
    margin: 5% 20%;
  }
  
  .gallery{
    column-count: 4;
    column-gap: 10px;
    margin: 0 10px;
  }
  
    img{
      display: inline-block;
      width: 100%;
      margin: 5px 0;
    }
  
  @media screen and (max-width: 768px){
    h2{
      font-size: 1em;
    }
    
    .gallery{
      column-count: 3;
      column-gap: 4px;
      margin: 0 4px;
      
      img{
        margin: 2px 0;
      }
    }
 
  }
  
  span{
    //special highlighting for keywords
    padding: 2px;
    background: #252525;
    color: #01e3ae;
  }
}

//STYLES FOR DESIGN GALLERY
#design{
  .design-gallery{
    margin: 5%;
    img{
      width: 100%;
    }
  }
}

.nav{
  background-color: #252525;
  float: none;
  ul{
     display: block;
      margin: 0 auto;
    text-align: center;
    
    li{
      float: none;
      display: inline-block;
      margin: 0 auto;
    }
  }
  
  .navbar-brand{
    
    img{
      width: 25px; 
      
      @media screen and (max-width: 414px){
        display: block;
        margin: 0 auto;
        width: 10%;
      }
    }
  }
  
}
