body{
  background-color: #f3f6fb;
  color: #252525; 
  
  font-family: 'Roboto', sans-serif;
  
  h1{
    font-family: 'Biryani', sans-serif;
    font-weight: 900;
  }
    
}

#logo{
  width: 200px;
  display: block;
  margin: 20px auto;
}

#home{
  height: 100vh;
  background-color: #082567;
  
  a:link{
    color: #0E376F;
  }
  
  a:hover {
    color: #f3f6fb;
    text-decoration: none;
  }
  
  ul{
    text-align: right;
    list-style-type: none;
    
    position: absolute;
    bottom: 5%;
    right: 5%;
    
    li{
      padding: 0;
      margin: 5px auto;
    }
  }
  
  h1{
    font-size: 5em;
    margin: 0 auto;
  }
}
